Repository vanessa-opensource/vanessa-runner, pull requests merged in 2020-11, with the labels that each got.

#409 Загрузка расширений конфигурации из файла\каталогов с отключением\включением безопасного режима и\или защиты от опасных действий
  epf/ЗагрузитьРасширениеВРежимеПредприятия/ЗагрузитьРасширениеВРежимеПредприятия.xml
  epf/ЗагрузитьРасширениеВРежимеПредприятия/ЗагрузитьРасширениеВРежимеПредприятия/Forms/Форма.xml
  epf/ЗагрузитьРасширениеВРежимеПредприятия/ЗагрузитьРасширениеВРежимеПредприятия/Forms/Форма/Ext/Form.xml
  epf/ЗагрузитьРасширениеВРежимеПредприятия/ЗагрузитьРасширениеВРежимеПредприятия/Forms/Форма/Ext/Form/Module.bsl
  features/Внешние обработки/ЗагрузитьРасширениеИзФайлаВРежимеПредприятия.feature
  features/ЗагрузитьРасширениеИзФайла.feature
Labels: Enterprise support, technical debt, tests/features

#394 Добавлена возможность инкрементальной загрузки конфигурации из файлов по логу git
  features/ОбновлениеОкружения.feature
  packagedef
  src/Классы/КомандаОбновлениеОкружения.os
  src/Классы/КомандаТестированиеПоведения.os
Labels: tests/features

#410 Легкая допилка ПР возможность инкрементальной загрузки конфигурации из файлов по логу git
  features/ОбновлениеОкружения.feature
  src/Классы/КомандаОбновлениеОкружения.os
Labels: technical debt
