Repository vanessa-opensource/vanessa-runner, pull requests merged in 2021-09, with the labels that each got.

#425 Github Actions CI
  .github/workflows/qa.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
  .gitignore
  NOTICE
  README.md
  features/Внешние обработки/Создание пользователей.feature
  features/ПроверкаТестов.feature
  packagedef
  sonar-project.properties
  src/Классы/МенеджерКонфигуратора.os
  src/Модули/ОбщиеМетоды.os
  tasks/coverage.os
Labels: technical debt, tests/features

#455 Реализована обработка параметра ОтключитьЛогикуНачалаРаботыСистемы
  epf/ЗагрузитьРасширениеВРежимеПредприятия/ЗагрузитьРасширениеВРежимеПредприятия/Forms/Форма/Ext/Form/Module.bsl
Labels: Режим 1С:Предприятие, Расширения 1С

#457 очистка каталога для команды xunit
  src/Классы/КомандаТестирование_xUnitFor1C.os
Labels: xUnitFor1C
